<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<head th:replace="layouts/base::head(titulo='LISTA DE PROVEEDORES')"></head>
<body>

	<header th:replace="layouts/base::header"></header>
	<div class="container-fluid py-5 vh-100 gradient-custom">
		<div class="row d-flex justify-content-center align-items-center">
			<div class="col-12 col-md-8 col-lg-6 col-xl-5 main-container p-5">


				<h1>LISTA DE PROVEEDORES</h1>
				<p>
					<a class="btn btn-dark" href="/provider/crear">Crear</a>
				</p>
				<div class="table-responsive">
					<table class="table table-bordered border-white table-secondary table-hover">
						<thead class="table-dark border-white">
							<tr>
								<th>NIT</th>
								<th>NOMBRE PROVEEDOR</th>
								<th>DIRECCION</th>
								<th>TELEFONO</th>
								<th>CIUDAD</th>
								<th>ACCIONES</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="proveedor:${proveedores}">
								<td th:text="${proveedor.NIT}"></td>
								<td th:text="${proveedor.Nombre_Proveedor}"></td>
								<td th:text="${proveedor.Direccion}"></td>
								<td th:text="${proveedor.Telefono}"></td>
								<td th:text="${proveedor.Ciudad}"></td>
								<td>
									<a class="btn btn-outline-success" th:href="@{/provider/editar/}+${proveedor.NIT}">Editar</a>
									<a class="btn btn-outline-danger delete-item" th:href="@{/provider/eliminar/}+${proveedor.NIT}">Eliminar</a>
								</td>
							</tr>
						</tbody>
	
					</table>
				</div>
			</div>
		</div>
	</div>
</body>
</html>