<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts/base::head(titulo='CREAR USUARIO')"></head>
<body>
	<header th:replace="layouts/base::header"></header>
		<div class="container mt=4">
		<h1>CREAR USUARIO</h1>
		
		<form action="#" th:action="@{/user/guardar}" method="POST">
		<div class="mb-3">
			<label class="form-label" for="cedula">Cedula</label>
			<input type="text" name="cedula" class="form-control" required="required">
		</div>
		
		<div class="mb-3">
			<label class="form-label" for="nombre">Nombre</label>
			<input type="text" name="nombre" class="form-control">
		</div>
		
		
		<div class="mb-3">
			<label class="form-label" for="correo">Correo</label>
			<input type="email" name="correo" class="form-control">
		</div>
		
		<div class="mb-3">
			<label class="form-label" for="usuario">Usuario</label>
			<input type="text" name="usuario" class="form-control">
		</div>
		
		<div class="mb-3">
			<label class="form-label" for="clave">Clave</label>
			<input type="password" name="clave" class="form-control">
		</div>
		
		
		<a href="/user/listar" class="btn btn-secondary">Atras</a>
		<button type="submit" class="btn btn-primary">Enviar</button>
		
		</form>
		
		
			
		</div>
</body>
</html>