<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<head th:replace="layouts/base::head(titulo='LISTA DE USUARIOS')"></head>
<body>

	<header th:replace="layouts/base::header"></header>
	<div class="container mt=4">


		<h1>LISTA DE USUARIOS</h1>
		<p>
			<a class="btn btn-primary" href="/user/crear">Crear</a>
		</p>
		<table class="table table-bordered border-primary">
			<thead>
				<tr>
					<th>CEDULA</th>
					<th>NOMBRE</th>
					<th>CORREO</th>
					<th>USUARIO</th>
					<th>PASSWORD</th>
					<th>ACCIONES</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="persona:${personas}">
					<td th:text="${persona.Cedula}"></td>
					<td th:text="${persona.Nombre}"></td>
					<td th:text="${persona.Correo}"></td>
					<td th:text="${persona.Usuario}"></td>
					<td th:text="${persona.Clave}"></td>
					<td>
						<a class="btn btn-outline-success" th:href="@{/user/editar(id=${persona.Cedula})}">Editar</a> 
						<a class="btn btn-outline-danger"  onclick="return confirm('¿Esta seguro de eliminar este usuario?');" th:href="@{/user/eliminar(id=${persona.Cedula})}">Eliminar</a>
					</td>
				</tr>
			</tbody>

		</table>
	</div>
</body>
</html>